<%= link_to 'ログアウト', 
    destroy_user_session_path,
    class: 'dropdown-item',
    method: :delete,
    class: "logout"
%>

<div class="main">
    <div class="home__index">
        <p class="home__index-text">
            rootのページです
        </p>
    </div>
</div>