.devise {
    height: 100vh;
    display: flex;

    &__inner {
        width: 500px;
        margin: auto;
        padding: 20px 50px 30px 50px;
        box-shadow: 0 0 8px #000;
    }

    &__ttl {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        margin-bottom: 30px;
    }

    /* innerの中 */
    .field {
        margin-bottom: 20px;

        label {
            font-size: 20px;
            margin-bottom: 10px;
        }

        input {
            display: inline-block;
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 8px;
        }

        #user_remember_me {
            display: inline-block;
            width: 20px;
            height: 17px;
        }
    }

    .actions {

        input {
            height: 25px;
            padding: 0 5px 5px 5px;
            box-shadow: 0 0 2px #000;
            border-radius: 4px;
        }
    }
}

.sign-up {
    height: 100vh;
    display: flex;

    &__inner {
        width: 500px;
        margin: auto;
        padding: 20px 50px 30px 50px;
        box-shadow: 0 0 8px #000;
    }

    &__ttl {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
    }

    form {
        margin-bottom: 30px;
    }

    /* innerの中 */
    .field {
        margin-bottom: 20px;

        label {
            font-size: 20px;
            margin-bottom: 10px;
        }

        input {
            display: inline-block;
            width: 100%;
            padding: 5px 10px;
            border: 1px solid #000;
            border-radius: 8px;
        }

        #user_remember_me {
            display: inline-block;
            width: 20px;
            height: 17px;
        }
    }

    .actions {

        input {
            height: 25px;
            padding: 0 5px 5px 5px;
            box-shadow: 0 0 2px #000;
            border-radius: 4px;
        }
    }
}